<!-- table_name_list.html -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TableName List</title>
</head>
<body>
  <h2>List of Questions and Answers</h2>
  <table>
    <thead>
      <tr>
        <th>Question</th>
        <th>Answer</th>
        <th>Created At</th>
      </tr>
    </thead>
    <tbody>
      {% for item in table_data %}
        <tr>
          <td>{{ item.question }}</td>
          <td>{{ item.answer }}</td>
          <td>{{ item.created_at }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</body>
</html>
